<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91345791587-4ht2vp6efr0kqn3fsrjmj0da4ac6p6r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91345791587-4ht2vp6efr0kqn3fsrjmj0da4ac6p6r9</string>
	<key>API_KEY</key>
	<string>AIzaSyAPgUFo0wYAPMlFaP3DYZRbD_WkwZMDAfw</string>
	<key>GCM_SENDER_ID</key>
	<string>91345791587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deirvlon.rayza</string>
	<key>PROJECT_ID</key>
	<string>rayza-d22d5</string>
	<key>STORAGE_BUCKET</key>
	<string>rayza-d22d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91345791587:ios:c0bb53a5245dfac4786656</string>
</dict>
</plist>